#myTable{
    width:1500px;
    margin: 0 auto;
}

.personPic
{
    position:relative;
    width:150px;
    border-radius:10px;;
    height:100px;
    object-fit: cover;
    z-index:0;
}

.personPic:hover{
    cursor:pointer;
}



.imgAndBtnContainer{
    margin:0 auto; 
    position: relative;  

}
.imageDeleteBtn{
    z-index:999;
    transform: translate(-50%,-50%);
    margin-right: -50%;
    top: 50%;
    left: 50%;
    position: absolute;
    display:none;

}

.ulContainer{
    max-width:300px;
    background-color: #f9d6d5;
    display:flex;
    margin:0 auto;
    color:grey;
    border-radius:5px;
    margin-bottom:20px;

}
.ulContainer li{
margin-top: 10px;
margin-bottom: 10px;
}


.ulContainer li:first-child{
margin-top:12px;
}

.ulContainer li:last-child{
    margin-top:12px;
    }